<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>banhezhanminchen</key>
		<string>c10</string>
		<key>departid</key>
		<string>0</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c15</string>
		<key>departid</key>
		<string>1</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c20</string>
		<key>departid</key>
		<string>3</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c25</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c30</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c35</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c40</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c45</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c50</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c55</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>c60</string>
		<key>departid</key>
		<string>4</string>
	</dict>
</array>
</plist>
