<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>banhezhanminchen</key>
		<string>强度等级错误</string>
		<key>departid</key>
		<string>0</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>混凝土出现分层</string>
		<key>departid</key>
		<string>1</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>混凝土出现离析</string>
		<key>departid</key>
		<string>2</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>混凝土坍落度达不到要求</string>
		<key>departid</key>
		<string>3</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>运输时间过久，材料受到影响</string>
		<key>departid</key>
		<string>4</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>其他(请在备注中描述拒收原因)</string>
		<key>departid</key>
		<string>5</string>
	</dict>
</array>
</plist>
