<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>banhezhanminchen</key>
		<string>待签收</string>
		<key>departid</key>
		<string>0</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>正常签收</string>
		<key>departid</key>
		<string>1</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>拒收未处置</string>
		<key>departid</key>
		<string>20</string>
	</dict>
	<dict>
		<key>banhezhanminchen</key>
		<string>拒收已处置</string>
		<key>departid</key>
		<string>21</string>
	</dict>
</array>
</plist>
